      <div class="col-lg-4 offset-lg-1 border rounded" style="margin: 25px;">
	<div class="panel panel-success">
	  <div class="panel-body" style="text-align: center;">
	    <h4><b>For Developers</b></h4>
	    <h5>Features</h5>
	    <table class="table features">
	      <tr>
		<td>Micro as a Service</td>
	      </tr>
	      <tr class="active">
		<td>Connect from anywhere</td>
	      </tr>
	      <tr>
		<td>Zero infrastructure management</td>
	      </tr>
	      <tr>
		<td>Public API & Private repos supported</td>
	      </tr>
	      <tr>
		<td>Up to 5 collaborators / 10 services</td>
	      </tr>
	    </table>
	    <div class="the-price">
	      <h1>$35<span class="subscript"> / dev / month</span></h1>
	      <p><a href="https://m3o.dev/concepts/platform">Learn more</a></p>
	    </div>
	  </div>
	</div>
      </div>
