      <div class="col-lg-3 border rounded" style="margin: 25px;">
	<div class="panel panel-success">
	  <div class="panel-body" style="text-align: center;">
	    <h4><b>Dev</b>
		<br><small style="margin: 0 10px 0 10px;">A cloud based development environment for small projects</small>
	    </h4>
	    <div class="the-price">
	      <h1>Free</h1>
	      <br>
	    </div>
	    <table class="table features">
	      <tr>
		<td>Micro as a Service</td>
	      </tr>
	      <tr class="active">
		<td>Connect from anywhere</td>
	      </tr>
	      <tr>
		<td>Zero infrastructure management</td>
	      </tr>
	      <tr>
		<td>Public API & Private repos supported</td>
	      </tr>
	      <tr>
		<td>Shared hosted environment</td>
	      </tr>
	    </table>
	      <p><a href="/start"><button>Get Started</button></a>
	      <br>
	  </div>
	</div>
      </div>
      <div class="col-lg-3 border rounded" style="margin: 25px;">
	<div class="panel panel-success">
	  <div class="panel-body" style="text-align: center;">
	    <h4><b>Platform</b>
		<br><small style="margin: 0 10px 0 10px;">Secure, scalable and supported production environment</small>
	    </h4>
	    <div class="the-price">
	      <h1>$35<span class="subscript"> / user / month</span></h1>
	      <br>
	    </div>
	    <table class="table features">
	      <tr>
		<td>Micro as a Service</td>
	      </tr>
	      <tr class="active">
		<td>All the Dev features plus</td>
	      </tr>
	      <tr>
		<td>2x Increased resource limits</td>
	      </tr>
	      <tr>
		<td>Business day SLA response time</td>
	      </tr>
	      <tr>
		<td>Slack & Email support</td>
	      </tr>
	    </table>
	      <p><a href="/platform"><button>Get Started</button></a></p>
	  </div>
	</div>
      </div>
      <div class="col-lg-4 border rounded" style="margin: 25px">
        <div class="panel panel-success">
          <div class="panel-body" style="text-align: center;">
                 <center>
                 <h4><b>Cloud</b>
                   <br>
                   <small style="margin: 0 10px 0 10px;">Isolated and trusted environments to scale development for all of your needs</small>
                </h4>
                 </center>
                    <div class="the-price">
                      <h1>Contact Us</h1>
                      <br>
                    </div>
                 <div class="col-md-12">
                    <p style="max-width: 300px; padding:0 0 0 0; margin: 0 auto; font-size: 1.2em;">
                          Your own Micro Cloud environments.<br>Fully managed or self-hosted.
                          Contact us for more details.
                    </p>
                    <br>
                    <br>
                    <center>
                        <a href="mailto:contact@m3o.com"><button>Get in touch</button></a>
                    </center><br>
                </div>
            </div>
         </div>
      </div>

