<div class="footer site-footer clearfix">
	<center>
		<ul class="list-inline">
			<li class="list-inline-item">&copy; 2020 Micro Services, Inc.</li>
			<li class="list-inline-item"><a href="https://slack.micro.mu"><i class="fab fa-slack"></i></a></li>
			<li class="list-inline-item"><a href="https://github.com/micro/services"><i class="fab fa-github"></i></a></li>
			<li class="list-inline-item"><a href="https://twitter.com/m3oservices"><i class="fab fa-twitter"></i></a></li>
			<li class="list-inline-item"><a href="/cdn-cgi/l/email-protection#234b464f4f4c634e4a40514c0d4e56"><i class="far fa-envelope"></i></a></li>
		</ul>
	</center>
</div>
