    <div class="footer site-footer clearfix">
      <center>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://github.com/micro-community/questions"
              ><i class="far fa-comments"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="https://slack.m3o.com"><i class="fab fa-slack"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/micro-community"><i class="fab fa-github"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://microhq.cn"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:crazybber@outlook.com"
              ><i class="far fa-envelope"></i
            ></a>
          </li>
        </ul>
        <br />
        <p>&copy; 2020 Micro Community, Orgs.</p>
      </center>
    </div>

