    <div class="footer site-footer clearfix">
      <center>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://discord.gg/hbmJEct"
              ><i class="fab fa-discord"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="https://slack.m3o.com"><i class="fab fa-slack"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/micro"><i class="fab fa-github"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/company/micro-services-inc"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="{{ site.twitter_url }}"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:contact@m3o.com"
              ><i class="far fa-envelope"></i
            ></a>
          </li>
        </ul>
        <ul class="list-inline">
          <li class="list-inline-item">
              <a href="/terms">Terms</a></li>
          <li class="list-inline-item">
              <a href="/privacy">Privacy</a></li>
        </ul>
        <br />
        <p>&copy; 2020 Micro Services, Inc.</p>
      </center>
    </div>
