    <div class="container-fluid">
      <div class="row title">
        <div class="col-md-10 offset-md-1">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand logo text" href="/">M3O</a
            >
            <span>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#micro-nav"
                aria-controls="micro-nav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
            </span>
            <div
              class="collapse navbar-collapse"
              id="micro-nav"
              style="margin-top: 10px;"
            >
              <ul class="navbar-nav ml-auto">
                <li role="separator" class="divider"><hr /></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="https://m3o.dev" class="nav-link">Docs</a></li>
                <li class="nav-item"><a href="/pricing" class="nav-link">Pricing</a></li>
                <li class="nav-item"><a href="/signup" class="nav-link">Signup</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
