<script src="https://unpkg.com/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js@1.14.3/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>

<!--
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>


  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "{{ site.google_analytics }}");
 
  
    $(document).ready(function () {
      $(".display").click(function () {
        $(".login").show();
      });
    });
  </script>
  -->