<div class="col-md-8 offset-md-2">
    <p><pre class="command">
# Install the micro binary
go get github.com/micro/micro/v3

# Run the server locally
micro server

# Login to the server(user: admin pass: micro)
micro login

# Create a new service (follow the instructions and push to Github)
micro new helloworld

# Deploy the service from github
micro run helloworld

# Check the service status
micro status

# Query the logs
micro logs helloworld

# Call the service
micro helloworld --name=Alice

# Get your namespace
NAMESPACE=$(micro user namespace)

# Curl it via the public http API
curl "https://$NAMESPACE.localhost:8080/helloworld?name=Alice"</pre>
    </p>
    <br>
    For more info see the <a href="https://m3o-docs.arch.wiki/">docs</a> or <a href="https://github.com/micro-community/how-to-join">join wechat</a> for help.
    <br />
</div>
